
.ratingControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.ratingControl-stars {
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    color: white;
}

