*{
    font-family: "KG Blank Space Solid", sans-serif;
}

.hobby-item {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

select {
    background: transparent;
    border: 1px solid;
    border-radius: 12px;
    padding: 3px;
    margin-right: 2rem;
    width: 10%;
    align-self: flex-end;

}
