* {
    font-family: "KG Blank Space Solid", sans-serif;
    overflow-wrap: break-word;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: black;
    color: white;
}


.header-icon:hover {
    transform: scale(1.1);
}
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 0;
    margin-top: 54px;
    overflow: hidden;
}

div {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.div-item {
    align-items: center;
    align-self: center;
    justify-content: space-between;
    height: 150px;
    width: 95%;
    border-radius: 5px;
    box-shadow: 4px 4px black;
}

.div-header {
    align-items: center;
    height: auto;
    width: 100%;
}

.div-activity {
    display: flex;
    flex-direction: row;
}

.div-hobbyDetail-buttons {
    margin-right: 0.25rem;
    margin-bottom: -0.5rem;
    padding: 0;
    flex-direction: row;
    align-self: center;
    gap: 5rem;
}

.div-hobbyList {
    margin-top: 6rem;
    width: 100%;
}

.div-edit {
    align-items: center;
}

.div-icons {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15rem;
    padding: 0;
    gap: 0;
}



select {
    background: transparent;
    border: 1px solid;
    border-radius: 12px;
    padding: 6px;
    margin-left: 11rem;
    margin-top: 1rem;
    width: auto;
    align-self: center;
}

fieldset {
    border: 0;

}

legend {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

label {
    text-align: center;
    align-self: center;
}

input {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px;
    border-radius: 18px;
    text-align: center;
    font-size: 24px;
}

.input-add {
    margin-top: 1rem;
    width: 90%;
}


.flip-card {
    background-color: black;
    width: calc(100% / 2);
    min-width: 140px;
    height: 100px;
    border: 1px solid black;
    padding: 2px 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    perspective: 1000px;
    justify-content: flex-end;
    border-radius: 15px;
    box-shadow: 3px 3px black;
}

.flip-card-front h3 {
    margin-bottom: 18px;
}


.flip-card-inner {
    justify-content: right;
    position: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.card-inner {
    justify-content: right;
    position: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    position: relative;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    padding: 15px 5px 30px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px black;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    padding: 15px 5px 30px;
    border-radius: 15px;
    box-shadow: 3px 3px gray;
}

.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(360deg);
}

.ratingControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.ratingControl-stars {
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    color: white;
}

.input-activity {
    font-size: 12px;
}

.profile-container{
   margin-bottom: 4rem;
}

.profile-tabs {
    align-self: flex-end;
    background-color: black;
    color: white;
}

.tab {
    width: 100px;
    padding-right: 1rem;

}

.app-purchase {
    padding: 4rem 3rem 15rem;
    background-color: coral;
}

.tabContent {
    margin-left: 2rem;
    margin-bottom: -2rem;
}

.tabContent1 {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.div-statisticTab {
    padding: 3rem 5rem 24rem;
    background-color: tomato;
}

.div-settingsTab {
    padding: 3rem 6rem 18rem;
    background-color: cornflowerblue;
}

.div-infoTab {
    padding: 3rem 3rem 29rem;
    background-color: lightgreen;
}

.div-goalsTab {
    padding: 3rem 5rem 21rem;
    background-color: mediumpurple;
}

.div-friendsTab {
    padding: 3rem 5rem 14rem;
    background-color: pink;
}

.div-badgesTab {
    padding: 3rem 5rem 14rem;
    background-color: lightblue;
}

.tabTitle {
    background-color: inherit;
}

.noActivities{
    margin-top: 2rem;
}

.statistic-table th, .statistic-table td {
    border: 2px solid #ccc;
    padding: 2px;
    text-align: left;
    font-size: 12px;
}

.statistic-table {
    border-collapse: collapse;
    width: 300px;
    margin-left: 1.6rem;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.statistic-table th {
    background-color: black;
    color: white;
    height: 2rem;
    font-size: 16px;
    text-align: center;
}

.statistic-pre {
    white-space: pre-wrap;
    padding: 4px;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}
