* {
    font-family: "KG Blank Space Solid", sans-serif;
    overflow-wrap: break-word;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 1rem;
    bottom: 1rem;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 0;
    margin-top: 4rem;
    z-index: 5;
}

div {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.div-item {
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;

}

.div-header {
    align-items: center;
    height: auto;
    width: 100%;
}

.div-activity {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.div-hobbyDetail {
    margin-left: 1rem;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    gap: 17rem;
}

.div-hobbyList {
    margin-top: 6rem;
    width: 100%;
}

.div-edit {
    align-items: center;
}

.div-icons {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15rem;
    padding: 0;
    gap: 0;
}

select {
    background: transparent;
    border: 1px solid;
    border-radius: 12px;
    padding: 6px;
    margin-left: 15rem;
    margin-top: 1rem;
    width: auto;
    align-self: center;
}

fieldset {
    border: 0;

}

legend {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

label {
    text-align: center;
    align-self: center;
}

input {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px;
    border-radius: 18px;
    text-align: center;
    font-size: 24px;
}

.input-add {
    margin-top: 1rem;
    width: 90%;
}



.flip-card {
    background-color: black;
    width: 500px;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    perspective: 1000px;
    justify-content: flex-end;
}

.flip-card-front h3 {
    margin-bottom: 20px;
}


.flip-card-inner {
    justify-content: right;
    position: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-inner {
    justify-content: right;
    position: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    position: relative;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    padding-top: 15px;
    padding-bottom: 30px;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    padding-top: 15px;
    padding-bottom: 30px;
}

.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(360deg);
}

.ratingControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.ratingControl-stars {
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    color: white;
}

.input-activity {
    font-size: 12px;
}

.profile-container{
   margin-bottom: 4rem;
}

.profile-tabs {
    align-self: flex-end;
    background-color: black;
    color: white;
}

.tab {
    width: 100px;
    padding-right: 1rem;

}

.profile-content {
}

.app-purchase {
    margin-top: 5rem;
}

.in-app-container {
    transform: scale(0.8);
    align-items: flex-start;
    margin-top: -4rem;
    align-self: center;
    width: 90%; /* Adjust the value for smaller screens */
    height: 70%; /* Adjust the value for smaller screens */

}

.tabContent {
    margin-bottom: -2rem;
}

.tabContent1 {
    margin-top: 2rem;
    margin-bottom: -2rem;
}